<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antti.androidvaraus" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VarausActivity"
            android:label="@string/title_activity_varaus"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antti.androidvaraus.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".PaikkaActivity"
            android:label="@string/title_activity_paikka"
            android:parentActivityName=".VarausActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antti.androidvaraus.VarausActivity" />
        </activity>
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antti.androidvaraus.LoginActivity" />
        </activity>
        <activity
            android:name=".AddMovieActivity"
            android:label="@string/title_activity_add_movie"
            android:parentActivityName=".AdminActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antti.androidvaraus.AdminActivity" />
        </activity>
        <activity
            android:name=".AddShowActivity"
            android:label="@string/title_activity_add_show"
            android:parentActivityName=".AdminActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antti.androidvaraus.AdminActivity" />
        </activity>
        <activity
            android:name=".ControlActivity"
            android:label="@string/title_activity_control"
            android:parentActivityName=".AdminActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antti.androidvaraus.AdminActivity" />
        </activity>
        <activity
            android:name=".AddUserActivity"
            android:label="@string/title_activity_add_user"
            android:parentActivityName=".AdminActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antti.androidvaraus.AdminActivity" />
        </activity>
        <activity
            android:name=".OmatVarauksetActivity"
            android:label="@string/title_activity_omat_varaukset"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antti.androidvaraus.MainActivity" />
        </activity>
    </application>

</manifest>
